:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: #212121;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, ::before, ::after {
  box-sizing: content-box;
}

html {
  font-size: 10px;
  overflow-x: hidden;
}
body {
  margin: 0;
  width: 100%;
}
section {
  padding: 1rem 2rem;
}
h1 {
  font-family: 'Gill Sans MT', sans-serif;
  font-size: 3rem;
  text-align: center;
}
h2 {
  font-family: 'Gill Sans MT', sans-serif;
  font-size: 2.4rem;
}
h3 {
  font-family: 'Gill Sans MT', sans-serif;
  font-size: 2rem
}
p {
  font-size: 1.6rem;
}
a {
  height: 100%;
  display: inline-block;
}
svg {
  pointer-events: none;
}

.wrapper {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
.sr-only {
  width: .1rem;
  height: .1rem;
  visibility: hidden;
  position: relative;
  display: inline-block;
}

header {
  padding: 1rem 2rem;
  height: 8rem;
  background-color: #ffffff;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-family: 'Gill Sans MT', sans-serif;
  font-weight: 700;
  font-size: 3rem;
}

.header-nav__link:not(:first-of-type) {
  margin-left: 1rem;
}

.header-nav__link {
  min-height: 40px;
  width: 40px;
  position: relative;
}

.header-nav__link > svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main {
  margin-bottom: 2rem;
}

.cart-count {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b22525;
  border-radius: 1rem;
  color: #ffffff;
}

footer {
  padding: 1rem 2rem;
  min-height: 10rem;
  height: 100%;
  background-color: #f1f1f1;
}

.footer__notice {
  font-size: 1.2rem;
}